# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# ==========================================
# Jupyter Notebook
# ==========================================

.ipynb_checkpoints/
ML Project.html

# ==========================================
# IDEs / Editors
# ==========================================

.vscode/
.idea/

# ==========================================
# OS files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Python build files
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Testing / Coverage
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Temporary files
# ==========================================

*.tmp
*.temp
*.swp
*.swo

# ==========================================
# Local configuration
# ==========================================

*.local